<header id="main-header" class="mat-box-soft-shadow">
	<div>
		<h1 {{action "goToRoot"}}>Giftwrap</h1>
	</div>

  {{#if user}}
    <div id="main-header-links">
      <h4>
        {{#link-to "users.show" user.id}}<span class="glyphicon glyphicon-user"></span>&nbsp; {{user.firstName}} {{user.lastName}}{{/link-to}}
        {{!-- <a href="#" {{action "logout"}}>Logout</a> --}}
      </h4>
    </div>
  {{else}}
  	<div id="main-header-links">
  		<h4>
  			<a href="#">Solutions</a>
  			<a href="#">Pricing</a>
        {{#link-to "login"}}Sign in{{/link-to}}
  		</h4>
  	</div>
  {{/if}}
</header>

<div id="main-header-offset"></div>
