{{yield}}

<div {{action "chooseDonor"}} class="donor-id-{{donor.id}}">

	{{#if checkbox}}
		<div class="donor-checkbox">
			<span class="glyphicon glyphicon-plus"></span>
		</div>
	{{/if}}

	<div>{{donor.firstName}}</div>
	<div>{{donor.lastName}}</div>
	<div>{{donor.affiliation}}</div>
	<div>{{donor.classYear}}</div>

	{{#if removeBox}}
		<div class="donor-remove">
			<span {{action "removeDonor"}} class="glyphicon glyphicon-remove"></span>
		</div>
	{{/if}}
</div>
