{{yield}}

<div id="search-donor-lists">
	{{input value=searchQuery key-up="searchDonorLists" placeholder="search" class="mat-input"}}
	{{#each donorListSearchResults as |donorList| }}
		{{donor-lists/individual-row
			donorList=donorList
			checkbox=true
			chooseCurrentDonorList=(action "chooseDonorList" donorList)
		}}
	{{/each}}
</div>

<div id="donor-list-index">
	<div id="donor-list-table-header">
		<div class="donor-list-checkbox"></div>
		<div>Title</div>
		<div>Description</div>
	</div>
	<div id="donor-list-table">
		{{#each donorLists as |donorList|}}
			{{donor-lists/individual-row
				donorList=donorList
				checkbox=true
				chooseCurrentDonorList=(action "chooseDonorList" donorList)
			}}
		{{/each}}
	</div>
	<div id="donor-list-table-footer">
		<span>Rows per page:
			<select value={{size}} onchange={{action "sizeChange"}}>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
			</select>
		</span>
		<span id="donor-list-table-page-control">
			<span></span>
			<span {{action "nextDonorLists" page -1}}>&lt;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span {{action "nextDonorLists" page 1}}> &gt;</span>
		</span>
	</div>
</div>

<div id="chosen-donor-lists">
	{{#if chosenDonorList.title}}
		{{donor-lists/individual-row
			donorList=chosenDonorList
			chooseCurrentDonorList=(action "chooseDonorList" donorList)
		}}
	{{else}}
		<div id="no-chosen-donor-list">
			No Donor List Selected
		</div>
	{{/if}}
</div>
