{{outlet}}

<form id="form">

	{{input type="hidden" value=model.form.braintreeToken id="braintreeToken"}}
	{{input type="hidden" name=paymentMethodNonce}}

	<div id="header">
		<h2>Give to {{ model.client.name }}</h2>
	</div>

	{{#if model.donor.email}}
		<div id="donor_info">
			<p>Welcome Back {{ model.donor.firstName }} {{ model.donor.lastName }}!</p>
		</div>
	{{else}}
		<div id="inputs-wrapper">
			<div>
				<label for="donorEmail" class="form-input-label">Email</label><br>
				{{input id="donorEmail" class="form-input" value=model.donor.email}}
				<div id="donorEmailError" class="error"></div>
			</div>
			<div>
				<label for="donorFirstName" class="form-input-label">First Name</label><br>
				{{input id="donorFirstName" class="form-input" value=model.donor.firstName}}
				<div id="donorFirstNameError" class="error"></div>
			</div>
			<div>
				<label for="donorLastName" class="form-input-label">Last Name</label><br>
				{{input id="donorLastName" class="form-input" value=model.donor.lastName}}
				<div id="donorLastNameError" class="error"></div>
			</div>
			<div>
				<label for="donorPhoneNumber" class="form-input-label">Cell Number</label><br>
				{{input id="donorPhoneNumber" class="form-input" value=model.donor.phoneNumber}}
				<div id="donorPhoneNumberError" class="error"></div>
			</div>
		</div>
	{{/if}}

	<p id="gift-type-link">Is this a pledge or pledge payment?</p>
	<div id="gift-type">
		<div class="first-radio">
			{{input type="radio" value=model.giftType}}
			<div>Gift</div>
		</div><div>
			<input type="radio" name="gift[gift_type]" value="pledge" id="gift_type_pledge">
			<div>Pledge</div>
		</div><div>
			<input type="radio" name="gift[gift_type]" value="pledge_payment">
			<div>Pledge Payment</div>
		</div>
	</div>

	{{#if model.donor.email}}
		<div id="gift-total">
			<div id="how-much">
				<p>How much would you like to give?</p>
			</div>
			<div id="totals">
				<div>
					<input type="radio" name="gift[total]" value="100" checked>
				</div>
				<div>
					<input type="radio" name="gift[total]" for="gift_total_other" id="gift_other_box">
					<input type="text" id="gift_total_other" placeholder="Other">
				</div>
			</div>
		</div>
	{{else}}
		<div id="gift-total">
			<div id="how-much">
				<p>How much would you like to give?</p>
			</div>
			<div id="totals">
				<div>
					<input type="radio" name="gift[total]" value="50" checked>
					<label>50</label>
				</div>
				<div>
					<input type="radio" name="gift[total]" value="250">
					<label>250</label>
				</div>
				<div>
					<input type="radio" name="gift[total]" value="1000">
					<label>1000</label>
				</div>
				<div>
					<input type="radio" name="gift[total]" for="gift_total_other" id="gift_other_box">
					<input type="text" id="gift_total_other" placeholder="Other">
				</div>
			</div>
		</div>
	{{/if}}

	{{#if model.donor.email}}
	{{else}}
		{{#payment-container}}
		{{/payment-container}}
	{{/if}}

	<p id="designate-link">I'd Like to specially designate this gift</p>
	<div id="designation-wrapper">
		<select id="designate-select" name="gift[designation]">
		</select>
		<div><input type="text" id="designation_other" placeholder="Other Designation"></div>
	</div>

	<div id="recurring">
		<p>Make this a Recurring Gift</p>
		<div class="first-radio">
			<input type="radio" name="donor[gift_frequency]" value="monthly">
			<div>Monthly</div>
		</div><div>
			<input type="radio" name="donor[gift_frequency]" value="quarterly">
			<div>Quarterly</div>
		</div><div>
			<input type="radio" name="donor[gift_frequency]" value="annually">
			<div>Annually</div>
		</div>
	</div>

	<div id="button-wrapper">
		<input type="submit" name="commit" id="submit-button" value="Give Now">
	</div>
</form>
