<div id="form-background" class="hide-mobile"></div>

<form id="form">

	<div id="form-header">
		<img src="https://s3.amazonaws.com/giftwrap/ransom_sailing.jpg">
		<span>Give to {{ model.client.name }}</span>
	</div>

	<div id="form-content">
	{{#if model.donor}}
		<div id="donor-info">
			<div id="welcome-back">Welcome Back {{ model.donor.firstName }} {{ model.donor.lastName }}!</div>
			{{#if model.donor.paymentMethod}}
				{{#if model.donor.paypalEmail}}
					<div id="paypal-info-block">
						<div id="paypal-logo"><img src="https://s3.amazonaws.com/giftwrap/logos/paypal-text.png"></div>
						<span id="paypal-email">{{model.donor.paypalEmail}}</span><span class="change-payment-method" {{action "teardownPaymentMethod" donor}}>change method</span>
					</div>
				{{else}}
					<div id="credit-info-block">
						<div id="credit-image"><img src="{{donor.creditImageUrl}}"></div><span id="masked-number">{{model.donor.maskedNumber}}</span>
						<span class="change-payment-method" {{action "teardownPaymentMethod" donor}}>change method</span>
					</div>
				{{/if}}
			{{/if}}
		</div>
		<div id="extra-information">
			{{#unless model.donor.phoneNumber}}
				<p>We'd love a little more information about you</p>
				<div class="mat-input-group">
					{{input id="donor-phone-number" type="number" class="mat-input mat-input-valid" value=donor.phoneNumber }}
					<label for="donor-phone-number" class="form-input-label">Cell Number</label>
					<div id="donor-phone-number-error" class="mat-input-error"></div>
				</div>
			{{/unless}}
		</div>
	{{else}}
		<div id="inputs-wrapper">
			<div class="mat-input-group">
				{{input id="donor-email" class="mat-input mat-input-valid" value=newDonor.email required="required"}}
				<label for="donor-email" class="form-input-label">Email</label>
				<div id="donor-email-error" class="mat-input-error"></div>
			</div>
			<div class="mat-input-group">
				{{input id="donor-first-name" type="text" class="mat-input mat-input-valid" value=newDonor.firstName required="required"}}
				<label for="donor-first-name" class="form-input-label">First Name</label>
				<div id="donor-first-name-error" class="mat-input-error"></div>
			</div>
			<div class="mat-input-group">
				{{input id="donor-last-name" type="text" class="mat-input mat-input-valid" value=newDonor.lastName required="required"}}
				<label for="donor-last-name" class="form-input-label">Last Name</label>
				<div id="donor-last-name-error" class="mat-input-error"></div>
			</div>
			<div class="mat-input-group">
				{{input id="donor-phone-number" type="number" class="mat-input mat-input-valid" value=newDonor.phoneNumber required="required"}}
				<label for="donor-phone-number" class="form-input-label">Cell Number</label>
				<div id="donor-phone-number-error" class="mat-input-error"></div>
			</div>
		</div>
	{{/if}}

	{{!-- <p id="gift-type-link">Is this a pledge or pledge payment?</p>
	<div id="gift-type">
		<div class="first-radio">
			{{input type="radio" value=model.giftType}}
			<div>Gift</div>
		</div><div>
			<input type="radio" name="gift[gift_type]" value="pledge" id="gift_type_pledge">
			<div>Pledge</div>
		</div><div>
			<input type="radio" name="gift[gift_type]" value="pledge_payment">
			<div>Pledge Payment</div>
		</div>
	</div> --}}

	<div id="gift-total">
		<div id="how-much">
			<h3>How much would you like to give?</h3>
		</div>
		<div id="totals">
			<div class="gift-total-box" id="gift-total-25" {{ action "setTotal" 25 newGift }}>
			$25</div><div class="gift-total-box" id="gift-total-50" {{ action "setTotal" 50 newGift }}>
			$50</div><div class="gift-total-box" id="gift-total-100" {{ action "setTotal" 100 newGift }}>
			$100</div><div class="gift-total-box" id="gift-total-250" {{ action "setTotal" 250 newGift }}>
			$250</div><div class="gift-total-box" id="gift-total-500" {{ action "setTotal" 500 newGift }}>
			$500</div><div class="gift-total-box" id="gift-total-1000" {{ action "setTotal" 1000 newGift }}>
			$1000</div>
			<div>
				{{input type="text" value=newGift.total id="total-other" class="mat-input" focus-in="showText" placeholder="Other"}}
			</div>
		</div>
		<div id="totals-error"></div>
	</div>

	{{#unless donor.paymentMethod}}
		{{#payment-container}}
		{{/payment-container}}
	{{/unless}}

	<p id="designate-link" {{ action "showDesignations" }}>I'd Like to specially designate this gift</p>
	<div id="designation-wrapper">
		<select id="designate-select" {{ action "designateSelect" newGift on="change" }}>
			<option>Athletics</option>
			<option>Academics</option>
			<option>Other</option>
		</select>
		<div class="mat-input-group">
			{{input id="designation-other" class="mat-input" placeholder="Other Designation" value=newGift.designation }}
		</div>
	</div>

	<div id="recurring">
		<p>Make this a Recurring Gift</p>
		<div id="frequency-annually" {{action "setFrequency" "annually" newDonor donor }}>Annually</div>
		<div id="frequency-quarterly" {{action "setFrequency" "quarterly" newDonor donor }}>Quarterly</div>
		<div id="frequency-monthly" {{action "setFrequency" "monthly" newDonor donor }}>Monthly</div>
	</div>

	<div id="button-wrapper">
		<input type="submit" id="submit-button" value="Make Gift" {{action "submitForm" newGift newDonor model}}>
	</div>

	{{input type="hidden" value="eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiIyNTQ5OTA4MWMxNTM0MDE4Mzk0MmU4OTMyNGNkNjFhODExYjJkYTY0ZjBjMjliMGYwMTdlMGJlZGMzN2FjZjI0fGNyZWF0ZWRfYXQ9MjAxNi0wOC0yMlQxNjowNjoxMy4yNTE1NjU1NTUrMDAwMFx1MDAyNm1lcmNoYW50X2lkPW41a3BkcHZmcW03OGhxYzNcdTAwMjZwdWJsaWNfa2V5PWQzOTM2c3gzOG5ndmZnZjMiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvbjVrcGRwdmZxbTc4aHFjMy9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzL241a3BkcHZmcW03OGhxYzMvY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tL241a3BkcHZmcW03OGhxYzMifSwidGhyZWVEU2VjdXJlRW5hYmxlZCI6dHJ1ZSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiVEJEIiwiY2xpZW50SWQiOm51bGwsInByaXZhY3lVcmwiOiJodHRwOi8vZXhhbXBsZS5jb20vcHAiLCJ1c2VyQWdyZWVtZW50VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3RvcyIsImJhc2VVcmwiOiJodHRwczovL2Fzc2V0cy5icmFpbnRyZWVnYXRld2F5LmNvbSIsImFzc2V0c1VybCI6Imh0dHBzOi8vY2hlY2tvdXQucGF5cGFsLmNvbSIsImRpcmVjdEJhc2VVcmwiOm51bGwsImFsbG93SHR0cCI6dHJ1ZSwiZW52aXJvbm1lbnROb05ldHdvcmsiOnRydWUsImVudmlyb25tZW50Ijoib2ZmbGluZSIsInVudmV0dGVkTWVyY2hhbnQiOmZhbHNlLCJicmFpbnRyZWVDbGllbnRJZCI6Im1hc3RlcmNsaWVudDMiLCJiaWxsaW5nQWdyZWVtZW50c0VuYWJsZWQiOnRydWUsIm1lcmNoYW50QWNjb3VudElkIjoidGJkIiwiY3VycmVuY3lJc29Db2RlIjoiVVNEIn0sImNvaW5iYXNlRW5hYmxlZCI6ZmFsc2UsIm1lcmNoYW50SWQiOiJuNWtwZHB2ZnFtNzhocWMzIiwidmVubW8iOiJvZmYifQ==" id="braintreeToken"}}
	</div>
</form>
