{{outlet}}

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			{{donor-list-index
				donorLists=donorLists
				chosenDonorList=chosenDonorList
				donorListSearchResults=donorListSearchResults
				chooseDonorList=(action "chooseDonorList")
				nextDonorLists=(action "nextDonorLists" page offset)
				sizeChange=(action "sizeChange")
				searchDonorLists=(action "searchDonorLists")
			}}
		</div>
	</div>

	<div class="row">
		<div id="email-create" class="col-sm-4 col-sm-offset-1">
			<label>Subject Line</label><br>
			{{input value=newEmail.subject class="mat-input" id="email-subject"}}
			<div id="email-subject-error" class="input-error-text"></div>

			<label for="email-header-image" class="mat-button-sm">UPLOAD IMAGE</label>
			<input type="file" id="email-header-image" class="image-input" onchange={{action "readImage"}}>
			{{!-- {{forms/image-field previewID="email-image-preview"}} --}}

			<div id="email-header-image-error" class="input-error-text"></div>
			<label>Body</label><br>
			{{textarea value=newEmail.body class="mat-input" rows="12" id="email-body"}}
			<div id="email-body-error" class="input-error-text"></div>
			<div id="btn-wrapper">
				<button class="mat-button" {{action 'sendEmails' newEmail chosenDonorList}}>SEND EMAILS</button>
			</div>
		</div>
		<div id="email-preview" class="col-sm-6">
				<div id="email-subject"></div>
				<img id="email-image-preview">
				<p>Dear John,</p>
				<p id="email-body">
					{{#if newEmail.body}}
						{{newEmail.body}}
					{{else}}
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					{{/if}}
				</p>
				<div id="email-signoff">
					<p>
						{{currentUser.firstName}} {{currentUser.lastName}}<br>
						{{currentUser.title}}
					</p>
				</div>
		</div>
	</div>
</div>
