{{outlet}}

<div class="gray-background"></div>

<div id="campaign-show-header">
  <div>{{model.title}}</div>
  <p>{{model.description}}</p>
</div>

<p>{{model.id}}</p>
<p>Campaign Show</p>
<p>{{model.donorList.description}}</p>
