{{#if hideHeader}}
  {{!-- Hide Header --}}
{{else if session.isAuthenticated}}
  {{main-header user=session.currentUser}}
{{else}}
  {{main-header}}
{{/if}}

{{#if hideSidebar}}
  {{!-- Hide Sidebar --}}
  {{outlet}}
{{else if session.isAuthenticated}}
  {{admin-sidebar user=session.currentUser}}
  <div id="admin-content-wrapper">
    <div id="admin-content">
      {{outlet}}
    </div>
  </div>
{{else}}
  {{outlet}}
{{/if}}
