{{outlet}}

<h3>New Campaign</h3>

<div class="flex-container">
	<div id="campaign-create">
		<div>
			<label>Title</label>
			{{input value=newCampaign.title}}
		</div>
		<div>
			<label>Body</label>
			{{textarea value=newCampaign.body}}
		</div>
		<button {{ action "createCampaign" newCampaign }}>Send Campaign</button>
	</div>
	<div id="campaign-preview">
		<div id="email-from">Polly Antol:<span id="title-preview">{{if newCampaign.title newCampaign.title "(Title)" }}</span></div>
		<div id="body-wrap">
			<div id="school-logo"><img src="http://i.imgur.com/XuiyFbO.png" height="75" width="75"></div>
			<div id="greeting">Dear Class of 1957</div>
			<div id="body-preview">{{ newCampaign.body }}</div>
			<div id="signoff">Sincerly, Polly Antol</div>
			<div id="button-wrapper"><span id="give-button">Give Now</span></div>
		</div>
	</div>
</div>
